

#header{
    padding-left: 0px;

}

.container-fluid, .navbar-toggler, .navbar-toggler-icon, .nav-link{
    color: #e5ebd2;
}
.navbar{
    
    padding: 0px;
    font-family: "Public Sans";
    position:fixed;
    z-index: 20;
    width: 100%;
    right: 0;
    top: 0;
}
#titleProducts{
    margin-top: 50px;
}

.navbar-toggler{
    border-color: #e5ebd2;
    margin-bottom: 10px;
}
.navbar-toggler-icon{
    color: #e5ebd2;

}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #e5ebd2; /* Color de fondo principal */
    color: #11220b; /* Color principal del texto */
    padding-top: 100px;
    
}

/*Estilos generales para los h */
/*h1 */
h1{
    font-size: 72px;
    text-align: center;
}

/*h2 */
h2{
    font-size: 56px;
}

/*h3 */
h3{
    font-size: 36px;
}

/* Estilo para el título "Acerca de Nosotros" */
.acerca-titulo {
    text-align: center;
    font-weight: 550;
    color: #11220b; /* Verde oscuro para el título principal */
    }

/* Estilo para el rectángulo de color */
.team-section {
    background-color: #404866; /* Rectángulo con fondo verde grisáceo */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: #e5ebd2; /* Texto dentro del rectángulo en color claro */
}

/* Título más pequeño dentro del rectángulo */
.team-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e5ebd2; /* Color claro para el título dentro del rectángulo */
}

/* Estilo para la imagen dentro del rectángulo */
.team-image {
    width: 400px;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
    border: 3px solid #92af5a; /* Borde de imagen en verde claro */
    }


    .col {
        width: 100%;
    }
    
    @media (min-width: 768px) {
        .col {
            width: 50%; 
        }
    }
    
    @media (min-width: 1200px) {
        .col {
            width: 50%; 
        }
    }
    
    
    
    .card-title{
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #E5EBD2;
    }
    .card-subtitle{
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #E5EBD2;
    
    }
    .card-text{
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #E5EBD2;
    }
    .text-body-secondary{
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #E5EBD2;
    }
    
    .img-fluid, .rounded-start{  
       
        /* width: 220px;
        height: 220px; */
        margin: 12px auto;
        border-radius: 30px;
        
        
    }
    /* Ajustas en FIGMA dimensiones de foto */
    
    .card, .mb-3{
        margin: 10px 10px;
        background-color: #404866;
        /* border: 2px solid;
        border-color: black; */
    }
    .card:hover{
        transform: scale(1.1);
    }
    
    .icon-links{
        margin: 0px 8px 0px 8px;
    }
    
    .justify-content-center{
        background-color: #E5EBD2;
    }
    
    .container-cards{
        margin: 0px 100px 0px 100px;
    }
    
    .text-body-secondary{
        font-family: "Public Sans", sans-serif;
        color: #E5EBD2;
    }

    #contactenos_title{
        text-align: center;
    }

    #container_contactenos{
        margin-bottom: 20px;
    }

    .botones, .cloudinary-button{
        background-color: #4a741a;
        border-color: #4a741a;
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: #E5EBD2;
        
    }
  

    .botones:hover{
        background-color: #92af5a;
        border-color: #4a741a;
        
    }

    @media (max-width: 430px) {
        #contactenos_title{
            font-size: 22px;
        }

        label{
            font-size: 16px;
        }
    }

    .img_carrusel{
    max-width: 100%;
    /* height: auto */
    }

    .descripcion{
        font-size: 20px;
        text-align: left;
    }

    .btnCard{
        display: inline-block;
        width: 180px;
        height: 40px;
        background-color: #4a741a;
        color: #E5EBD2;
        text-decoration: none;
        border-radius: 25px;
        line-height: 40px;
        text-align: center;
        
    }
    .btnCard:hover{
        background-color: #92af5a;
        border-color: #4a741a;
    }

    .card-img-top{
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 8px 8px 8px #92af5a;
    
    }

    .bii{
        margin-left: 50px;
    }