footer{
    background-color: #404866;
    text-align: center;
    padding-top: 16px; 
    height: 192px;
}
.containerFooter {
    display: flex;           
    justify-content: center; 
    margin: 16px 0;          
}

#redesFooter{
color: #E5EBD2;
font-size: 36px;
font-family: "Public Sans";
padding-top: 16px;
}

#derechosFooter{
    font-family: "Public Sans";
    color: #E5EBD2;
    font-style: normal;
    font-size: 14px;
    height: 16px;
    width: 336;

   
}
.iconsFooter{
    color: #E5EBD2;
    padding: 8px,0;
    width: 24px;
    height: 24px;
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 430px) and (min-width: 140px) {
    footer{
        height: 136px;
        width: auto;   
    }
    #redesFooter {
        padding-top: 0;
        font-size: 16px; /* Reduce el tamaño de fuente */
    }

    .containerFooter {
        margin: 8px 0; /* Ajusta el margen */
    }
    #derechosFooter{
        
        height: 48px;
        width: 160px;
        position: absolute;
        transform: translateX(-50%);
        padding-bottom: 16px;
    }
}